#top {
    -fx-font-size: 20;
    -fx-alignment: center;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-min-width: 800px;
}

#stateLbl {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-min-width: 300px;
    -fx-alignment: center;
}

#header {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-min-width: 300px;
    -fx-alignment: center;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

#category {
    -fx-alignment: CENTER;
    -fx-border-style: solid;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-min-width: 150px;
}

#title {
    -fx-font-size: 16;
    -fx-min-width: 300px;
    -fx-padding: 0 20 0 10;
    -fx-alignment: CENTER-LEFT;
}

#title:hover {
    -fx-cursor: hand;
}

#detail {
    -fx-font-size: 16;
    -fx-min-width: 150px;
    -fx-padding: 0 20 0 10;
    -fx-alignment: CENTER;
}

#data {
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-min-width: 150;
}